:root{
  --black: #000000;
  --orange: #F68572;
  --textgrey: #757095;
  --textlightblack: #393A3C;
  --white: #FFFFFF;
  --green: #05796B;
  --darkgreen: #04675B;
  --grey: #ECECEC;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
