:root{
  --black: #000000;
  --orange: #F68572;
  --textgrey: #757095;
  --textlightblack: #393A3C;
  --white: #FFFFFF;
  --green: #05796B;
  --darkgreen: #04675B;
  --grey: #ECECEC;
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Manrope', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,*::before, *::after{
  box-sizing: border-box;
}
